@import "./user-avatar/_user-avatar.less";
@import "./app-language/_language.less";

.header-partial {
    header.ant-layout-header.r-panel-header {
        box-shadow: 0 2px 6px rgba(47, 43, 61,.14),0 0 transparent,0 0 transparent;
        margin: 1rem 1.5rem 1rem 1.5rem;
        padding-inline: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-left {
            cursor: pointer;
            svg {
                scale: 1.5;
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            .user-avatar-partial();
            .app-language-partial();

        }
    }
}